body {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 1.0rem;
  margin-bottom: 0;
}
header {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba( 0, 141, 176, 0.5 );
}
h1 {
  color: #444;
  margin-bottom: 1.25rem;
}
h2 {
  color: rgb( 0, 141, 176 );
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h3 {
  margin-bottom: 0.5rem;
}
article {
  margin-top: 0;
  overflow: hidden;
}
.navbar-brand {
  max-width: calc( 100vw - 105px );
}
.wpcf7 {
  margin-left: -15px;
}
.float-right img {
  margin-left: 2rem;
  max-height: 500px;
}
.wp-block-columns {
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.wp-block-column {
  padding: 0 1rem;
}
.wp-block-column .wp-block-image img {
  width: 100%;
  height: auto;
}
.wp-block-image .aligncenter {
  width: 100%;
  text-align: center;
}
